*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    text-align: center;
    font-size: 1.2rem;
}

.head{
    color: hotpink;
}

#playground{
    margin: auto;
    max-width: 768px;
}

#playground a{
    color: hotpink;
    margin: 32px;
}

.mg-top32{
    margin-top: 32px;
}

#oyuncu_kart{
    margin-top:  384px;
    
}

#oyuncu1::before{
    content: "Oyuncu Kart 1: ";
    color: skyblue;
}

#oyuncu2::before{
    content: "Oyuncu Kart 2: ";
    color: skyblue;
}

#oyuncu3::before{
    content: "Oyuncu Kart 3: ";
    color: skyblue;
}

#kasa1::before{
    content: "Kasa Kart 1: ";
    color: skyblue;
}

#kasa2::before{
    content: "Kasa Kart 2: ";
    color: skyblue;
}

.buton{
    padding: 10px 48px;
    background-color: hotpink;
    color: black;
    margin: 32px 16px;
    cursor: pointer;
    border: none;
    font-size: 1rem;
}

#bet{
    padding: 10px 53px;
}

#bet:hover{
    background-color: green;
}

#start{
    margin-top: 32px;
    margin-bottom: 0px;
}

#start:hover{
    background-color: skyblue;
    color: black;
}

#add{
    padding: 10px 31px;
}

#add:hover{
    background-color: rgb(228, 198, 65);
}

#end{
    padding: 10px 55px;
    margin-top: 0;
}

#end:hover{
    background-color: red;
}